<div ng-include='"templates/partials/header.html"'></div>
<div id="main-container" class="main-container">
    <script type="text/javascript">
                try {
                    ace.settings.check('main-container', 'fixed')
                } catch (e) {
                }
    </script>

    <div class="main-container-inner">
        <a href="#" id="menu-toggler" class="menu-toggler">
            <span class="menu-text"></span>
        </a>

        <div ng-include='"templates/partials/left_menu.html"'></div>

        <div class="main-content">
            <div id="breadcrumbs" class="breadcrumbs">
                <script type="text/javascript">
                            try {
                                ace.settings.check('breadcrumbs', 'fixed')
                            } catch (e) {
                            }
                </script>

                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home home-icon"></i>
                        <a href="#">Home</a>
                    </li>

                    <li class="active">Change Password</li>
                </ul><!-- .breadcrumb -->

                <div ng-include='"templates/partials/search.html"'></div>
            </div>

            <div class="page-content">
                <div class="page-header">
                    <h1>
                        Change Password
                    </h1>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <div id="success" style="color: green;">{{ PostDataregResponse}}</div>
                        <div id="error" style="color: red;" ng-repeat="x in ResponseDetails">{{ x.msg}}</div>
                        <flash-message duration="5000" show-close="true"></flash-message>
                        <form role="form" name="changepassword" class="form-horizontal">


                            <div class="form-group">
                                <label for="form-field-2" class="col-sm-3 control-label no-padding-right"> Password </label>

                                <div class="col-sm-9">
                                    <input required ng-model="formData.password" name="email" type="password" class="col-xs-10 col-sm-5" placeholder="Password" id="form-field-2">
                                    <span class="alert alert-danger" ng-show="changepassword.password.$dirty && changepassword.password.$invalid">
                                        <span ng-show="changepassword.password.$error.required">Password is required.</span>
                                    </span>
                                </div>
                            </div>

                            <div class="space-4"></div>

                            <div class="form-group">
                                <label for="form-field-2" class="col-sm-3 control-label no-padding-right"> Repeat Password </label>

                                <div class="col-sm-9">
                                    <input name="password_confirmation" compare-to="formData.password" ng-model="formData.password_confirmation" required type="password" class="col-xs-10 col-sm-5" placeholder="Repeat password" />
                                    <p class="alert alert-danger" ng-show="changepassword.password_confirmation.$error.compareTo && changepassword.password_confirmation.$dirty">Confirm password is does not match with password.</p>
                                </div>
                            </div>



                            <div class="clearfix form-actions">
                                <div class="col-md-offset-3 col-md-9">
                                    <button ng-disabled="!changepassword.$valid" ng-click="changePassword(formData)" type="button" class="btn btn-info">
                                        <i class="icon-ok bigger-110"></i>
                                        Submit
                                    </button>

                                    &nbsp; &nbsp; &nbsp;
                                    <button type="reset" class="btn">
                                        <i class="icon-undo bigger-110"></i>
                                        Reset
                                    </button>
                                </div>
                            </div>

                            <div class="hr hr-24"></div>

                        </form>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div><!-- /.main-content -->

    </div><!-- /.main-container-inner -->

</div>