<div class="main-container login-layout">
    <div class="main-content">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="login-container">
                    <div ng-include='"templates/partials/front_header.html"'></div>

                    <div class="space-6"></div>

                    <div class="position-relative">
                        <div id="login-box" class="login-box visible widget-box no-border">
                            <div class="widget-body">
                                <div class="widget-main" ng-controller="UserCtrl">
                                    <h4 class="header blue lighter bigger">
                                        <i class="icon-coffee green"></i>
                                        Please Enter Your Information
                                    </h4>

                                    <div class="space-6"></div>
                                    <div id="success" style="color: green;">{{ PostDataResponse}}</div>
                                    <div id="error" style="color: red;">{{ ResponseDetails}}</div>
                                    <flash-message duration="5000" show-close="true"></flash-message>
                                    <div class="space-6"></div>

                                    <form name="forgottenForm">
                                        <fieldset>
                                            <label class="block clearfix">
                                                <span class="block input-icon input-icon-right">
                                                    <input ng-model="formData.password" name="password" type="password" class="form-control" required placeholder="Password" />
                                                    <i class="icon-user"></i>
                                                </span>
                                                <p style="color: crimson;" ng-show="forgottenForm.password.$error.required && forgottenForm.password.$dirty">Password is required.</p>
                                                <p style="color: crimson;" ng-show="serverErros.password">{{serverErros.password}}</p>
                                            </label>

                                            <label class="block clearfix">
                                                <span class="block input-icon input-icon-right">
                                                    <input name="password_confirmation" compare-to="formData.password" ng-model="formData.password_confirmation" type="password" class="form-control" required placeholder="Confirm Password" />
                                                    <i class="icon-lock"></i>
                                                </span>
                                                <p style="color: crimson;" ng-show="forgottenForm.password_confirmation.$error.required && forgottenForm.password_confirmation.$dirty">Password is required.</p>
                                                <p style="color: crimson;" ng-show="forgottenForm.password_confirmation.$error.compareTo && forgottenForm.password_confirmation.$dirty">Confirm password is does not match with password.</p>
                                                <p style="color: crimson;" ng-show="serverErros.password_confirmation">{{serverErros.password_confirmation}}</p>
                                            </label>

                                            <div class="space"></div>

                                            <div class="clearfix">
                                                <button ng-disabled="!forgottenForm.$valid" ng-click="SubmitForgotPass(formData)" type="button" class="width-35 pull-right btn btn-sm btn-primary">
                                                    <i class="icon-key"></i>
                                                    Reset
                                                </button>
                                            </div>

                                            <div class="space-4"></div>
                                        </fieldset>
                                    </form>

                                    <div class="social-or-login center">
                                        <span class="bigger-110">Or Login Using</span>
                                    </div>

                                    <div class="social-login center">
                                        <a class="btn btn-primary">
                                            <i class="icon-facebook"></i>
                                        </a>

                                        <a class="btn btn-info">
                                            <i class="icon-twitter"></i>
                                        </a>

                                        <a class="btn btn-danger">
                                            <i class="icon-google-plus"></i>
                                        </a>
                                    </div>
                                </div><!-- /widget-main -->
                                <div class="toolbar clearfix">
                                    <div>
                                        <a href="/" class="forgot-password-link">
                                            <i class="icon-arrow-left"></i>
                                           Back to login
                                        </a>
                                    </div>

                                    <div>
                                        <a class="user-signup-link" href="/">
                                            I want to register
                                            <i class="icon-arrow-right"></i>
                                        </a>
                                    </div>
                                </div>

                            </div><!-- /widget-body -->

                        </div><!-- /login-box -->




                    </div><!-- /position-relative -->
                </div>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div>
</div><!-- /.main-container -->

<script type="text/javascript">
            function show_box(id) {
                jQuery('.widget-box.visible').removeClass('visible');
                jQuery('#' + id).addClass('visible');
            }
</script>